.visible {
    display: block;
}

.hidden {
    display: none !important;
}

#main {
    position: relative;
    min-width: 750px;
    height: 50vh;
    border: solid black 1px;
}

#main-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(50%) translateY(150%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-buttons button {
    margin-right: 2rem;
    max-height: 25px;
    width: fit-content;
}

#uploads {
    display: flex;
    flex-direction: column;
}

#uploads button {
    margin-top: 1rem;
}